*{
    font-family: "Roboto Flex", sans-serif;
}

:root {
    --bg: #CCC9DC
}

body {
    margin: 0 10%;
    background-color: var(--bg);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0C1821;
    gap: 20px;
    color: var(--bg);
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

nav {
    
    top: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
}

nav ul a {
    color: var(--bg);
    text-decoration: none;
}

header img {
    width: 40px;
    background-color: #CCC9DC;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}