* {
  font-family: "Roboto Flex", sans-serif;
}

:root {
  --light: #ccc9dc;
}

body {
  margin: 80px 10%;
  background-color: var(--light);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0c1821;
  gap: 20px;
  color: var(--light);
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
}

nav ul a {
  color: var(--light);
  text-decoration: none;
}

header img {
  width: 40px;
  background-color: var(--light);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #0c1821;
  font-size: 15;
}

#hero-image {
  width: 45%;
  margin: 5%;
}

#hero-title {
  font-size: 45px;
}

#hero-title, #hero-subtitle {
  text-align: center;
}

#hero-subtitle {
  font-size: 35px;
}

#action-call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}

.main-section {
  padding: 10px;
}

button {
  background-color: #1B2A41;
  color: var(--light)
}

#services {
  background-color: #0C1821;
  color: var(--light);
  font-size: 25px;
  border-radius: 10px;
  text-align: center; 
}

#services ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

#services ul li {
  margin: 15px 0;
}

#services a {
  text-decoration: none;
  color: var(--light);
}

#about {
  text-align: center;
  line-height: 1.5em;
}

#about p{
  margin-bottom: 50px;
}


#contact {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  align-items: center;
  padding-bottom: 30px;
}

#contact-form{
display: flex;
flex-direction: column;
}

#comment{
  width: 400px;
  height: 100px;
  margin-top: 15px;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid #324A5F;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}

#footer-flex {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
}

footer section {
  align-items: center
}